[core]
# The home folder for airflow, default is ~/airflow
airflow_home = {{ airflow_home }}

# The folder where your airflow pipelines live, most likely a
# subfolder in a code repository
# This path must be absolute
dags_folder = {{ airflow_dags_folder }}

# The folder where airflow should store its log files
# This path must be absolute
base_log_folder = {{ airflow_logs_folder }}

# Logging level
logging_level = {{ airflow_logging_level }}
fab_logging_level = {{ airflow_fab_logging_level }}

# Log format
# we need to escape the curly braces by adding an additional curly brace
log_format = {{ airflow_log_format }}
simple_log_format = {{ airflow_simple_log_format }}

# Log filename format
# we need to escape the curly braces by adding an additional curly brace
log_filename_template = {{ airflow_log_filename_template }}
log_processor_filename_template = {{ airflow_log_processor_filename_template }}

# Hostname by providing a path to a callable, which will resolve the hostname
hostname_callable = {{ airflow_hostname_callable }}

# Default timezone in case supplied date times are naive
# can be utc (default), system, or any IANA timezone string (e.g. Europe/Amsterdam)
default_timezone = {{ airflow_default_timezone }}